@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

body{
    font-family: 'Muli', sans-serif;
    color: #393e46;
    margin: 40px 30px 0px;
}

.about-me {
    font-weight: bolder;
}

.animate {
    color: #00adb5;
}

.content {
    cursor: pointer;
    display: none;
    padding: 0px 20px 20px 20px;
}

.faq {
    width: 50%;
    margin: 0px 20px;
}

.faq-text {
    text-decoration: underline;
    text-decoration-color: #222831;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eeeeee;
    color: white;
    text-align: center;
 }

.header {
    font-weight: bold;
    margin: 0px 20px;
    padding: 20px 0px;
    position: relative;
}

.item {
    background-color: #eeeeee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin: 20px 20px 20px 0px;
}

.item:hover {
    background-color: #eeeeee55;
}

.message {
    top: 20%;
    position: relative;
}

.arrow {
    position: absolute;
    right: 0;
}

.arrow-up {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-bottom: 15px solid #393e46;
    margin-right: 5px;
    cursor: pointer;
}

.arrow-down {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
    border-top: 15px solid #393e46;
    cursor: pointer;
}

#instagram {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('../img/instagram.png');
    background-size: cover;
    margin-right: 100px;
}

#facebook {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('../img/facebook.png');
    background-size: cover;
    margin-right: 100px;
}

#twitter {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('../img/twitter.png'); 
    background-size: cover;
}

.text {
    width: 50%;
    position: relative;
}

.copyright {
    height: 50px;
    background-color:#393e46;
    padding-top: 15px;
}

.sosmed-container {
    padding-top: 45px;
    height: 120px;
}

.question {
    max-width: 85%;
    cursor: pointer;
}

#accordion {
    height: 700px;
    overflow-x: hidden; 
    overflow-y: auto;
}

.toggle-button {
    width: 60px;
    height: 30px;
    background-color: #00adb5;
    border-radius: 15px;
    cursor: pointer;
    padding: 2.5px;
    transition: 300ms ease-in-out;
}

.toggle-button.aktif {
    background-color: #eeeeee;
}

.toggle-button > .circle {
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: #eeeeee;
}

.toggle-button.aktif > .circle {
    margin-left: 30px;
    background-color: #00adb5;
}

.mode {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    .faq {
        margin-top: 180px;
        width: 100%;
    }

    .text {
        width: 100%;
        height: 120px;
        padding-left: 20px;
    }

    .copyright {
        height: 30px;
        padding-top: 3px;
    }
    
    .sosmed-container {
        padding-top: 25px;
        height: 80px;
    }

    #accordion {
        margin-bottom: 30px;
        height: 700px;
        overflow-x: hidden; 
        overflow-y: auto;
    }
  }