{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 7 - HomePage</title>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/typed.js' %}"></script>
    <script src="{% static 'js/story7.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/story7.css' %}">
</head>
<body>
    <div class="d-sm-flex flex-sm-row justiy-content-between">
        <div class="text">
          <div class="d-flex flex-row">
            <div class="toggle-button">
              <div class="circle"></div>
            </div>
            <div class="mode">Mode Terang</div>
          </div>
          <h1 class="message">Halo Saya Radit <br><span class="animate"></span></h1>
        </div>
    
        <div class="faq">
          <h1 class="about-me"> <span class="faq-text">FAQ</span> About Me</h1>
          <div id="accordion">
            <div class="item">
              <div class="d-flex flex-row header">
                <div class="question">Rutinitas apa yang dilakukan sekarang?</div>
                <div class="d-flex flex-row arrow align-self-center">
                  <div class="arrow-up"></div>
                  <div class="arrow-down"></div>
                </div>
              </div>
    
              <div class="content">
                Rutinitas utama saya sekarang adalah berkuliah di Fakultas Ilmu Komputer Universitas Indonesia.
                Saat ini saya juga sedang mengembangkan bakat di bidang development baik itu website maupun mobile.
                Selain akademis, saya juga menjadi bagian dari BEM Fasilkom UI khususnya di bidang keilmuan.
              </div>
            </div>
    
            <div class="item">
              <div class="d-flex flex-row header">
                <div class="question">Kesibukan apa saja yang pernah dijalani?</div>
                <div class="d-flex flex-row arrow align-self-center">
                  <div class="arrow-up"></div>
                  <div class="arrow-down"></div>
                </div>
              </div>
    
              <div class="content">
                1. PJ Mentor SOSPRO Fasilkom (2019) <br>
                2. Staff SBF Keilmuan (2019) <br>
                3. Staff Keilmuan BEM Fasilkom (Maret 2020 - sekarang) <br>
                4. Junior Member Mobile Development RISTEK (Maret 2020 - sekarang) <br>
                5. Mentor DDP0 (Juli 2020) <br>
                6. Asisten Dosen Kalkulus 1 (September 2020 - sekarang) 
              </div>
            </div>
    
            <div class="item">
              <div class="d-flex flex-row header">
                <div class="question">Apa saja prestasi yang pernah saya raih?</div>
                <div class="d-flex flex-row arrow align-self-center">
                  <div class="arrow-up"></div>
                  <div class="arrow-down"></div>
                </div>
              </div>
              
              <div class="content">
                1. Peringkat 5 OSK Matematika (SMP) <br>
                2. Semifinalis Kompetisi Statistik PSN (SMA) <br> 
                3. Coming Soon :D (Universitas)
              </div>
            </div>
    
            <div class="item">
              <div class="d-flex flex-row header">
                <div class="question">Apa funfact dari diri saya?</div>
                <div class="d-flex flex-row arrow align-self-center">
                  <div class="arrow-up"></div>
                  <div class="arrow-down"></div>
                </div>
              </div>
              
              <div class="content">
                Masa kecil saya sangat terobsesi dengan naruto karena jalan ninjanya yang begitu keren.
                Oleh karena itu, saya pernah melakukan rasengan kepada teman perempuan saya.
                Saya kira tidak bakal ada efek, ternyata teman saya sampai menangis :(
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="sosmed-container">
          <div class="d-flex flex-row justify-content-center">
            <a href="https://www.instagram.com/radit10_c/">
              <div id="instagram"></div>
            </a>
            <a href="https://www.facebook.com/raditya.restan">
              <div id="facebook"></div>
            </a>
            <a href="https://twitter.com/raditya_restan">
              <div id="twitter"></div>
            </a>
          </div>
        </div>
        <div  class="copyright">
          © 2020 Copyright: Christian Raditya
        </div>
    </div>
</body>
</html>